/*Global*/
/* line 2, ../scss/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/main.scss */
html {
  background: url(http://i.stack.imgur.com/PEnJm.png), radial-gradient(#333333, #111111);
  background-blend-mode: multiply;
}

/* line 15, ../scss/main.scss */
body {
  background: white no-repeat center center fixed;
}

/* line 19, ../scss/main.scss */
video {
  width: 100%;
  border-radius: 10px;
}

/* line 30, ../scss/main.scss */
h1 {
  color: gold;
  font-family: 'Sarina', cursive;
}

/* line 36, ../scss/main.scss */
.wrapper {
  width: 50%;
  margin: 0 auto;
}

/* line 51, ../scss/main.scss */
.mejs-scott .mejs-controls {
  background: black;
  height: 30px;
}
/* line 58, ../scss/main.scss */
.mejs-scott .mejs-controls .mejs-time-rail span {
  height: 100%;
  border-radius: 0px;
}
/* line 65, ../scss/main.scss */
.mejs-scott .mejs-controls .mejs-time-rail {
  padding: 0;
}
/* line 69, ../scss/main.scss */
.mejs-scott .mejs-controls .mejs-time-rail .mejs-time-total, .mejs-scott .mejs-controls .mejs-time-rail .mejs-time-buffering, .mejs-scott .mejs-controls .mejs-time-rail .mejs-time-handle {
  background: #c2d1d8;
  margin-top: 8px;
  height: 50%;
  border-radius: 0;
}
/* line 78, ../scss/main.scss */
.mejs-scott .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #2f2f2f;
}
/* line 83, ../scss/main.scss */
.mejs-scott .mejs-controls .mejs-time-rail .mejs-time-current {
  background: gold;
  color: black;
}
/* line 91, ../scss/main.scss */
.mejs-scott .mejs-controls .mejs-captions-selector {
  background: black;
  width: 100px;
  right: auto;
}
/* line 99, ../scss/main.scss */
.mejs-scott .mejs-controls .mejs-captions-button {
  margin: 0 7px;
}
/* line 106, ../scss/main.scss */
.mejs-scott .mejs-controls .mejs-button button {
  outline: none;
  display: block;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  margin: 7px 5px;
  padding: 0;
  position: absolute;
  height: 16px;
  width: 16px;
  border: 0;
  background: transparent url(../mejs/controls.svg) no-repeat;
}
/* line 124, ../scss/main.scss */
.mejs-scott .mejs-controls .mejs-button .mejs-volume-button button {
  background: transparent url(../img/Volume-icon.png);
}
/* line 137, ../scss/main.scss */
.mejs-scott .mejs-overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background: url(../mejs/bigplay.svg) no-repeat;
}
/* line 147, ../scss/main.scss */
.mejs-scott .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-float {
  border: none;
  background: none;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  font-family: Helvetica, Arial;
  font-size: 13px;
  color: black;
}

/* line 159, ../scss/main.scss */
.mejs-container {
  position: relative;
  background: none;
  font-family: Helvetica,Arial;
  text-align: left;
  vertical-align: top;
  text-indent: 0;
  background-size: cover;
}
/* line 170, ../scss/main.scss */
.mejs-container .mejs-controls .mejs-time span {
  color: black;
  font-size: 11px;
  line-height: 12px;
  display: block;
  float: left;
  margin: 1px 2px 0 0;
  width: auto;
}

/* Animations on Show/Hide. Pick your own */
/* http://daneden.github.io/animate.css/ */
/* line 190, ../scss/main.scss */
audio, video {
  -webkit-animation: rubberBand .5s;
  animation: rubberBand .5s;
}

@-webkit-keyframes rubberBand {
  /* line 197, ../scss/main.scss */
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  /* line 202, ../scss/main.scss */
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  /* line 207, ../scss/main.scss */
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  /* line 212, ../scss/main.scss */
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  /* line 217, ../scss/main.scss */
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  /* line 222, ../scss/main.scss */
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  /* line 227, ../scss/main.scss */
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  /* line 234, ../scss/main.scss */
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  /* line 239, ../scss/main.scss */
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  /* line 244, ../scss/main.scss */
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  /* line 249, ../scss/main.scss */
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  /* line 254, ../scss/main.scss */
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  /* line 259, ../scss/main.scss */
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  /* line 264, ../scss/main.scss */
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* line 271, ../scss/main.scss */
.mejs-list li:hover {
  background: #ffa;
  cursor: pointer;
}

/* line 275, ../scss/main.scss */
.mejs-list li.current {
  background: #cddfff;
}

/* line 278, ../scss/main.scss */
.mejs-container {
  margin-left: auto;
  margin-right: auto;
}

/* line 283, ../scss/main.scss */
#wrapper {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background: white;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  color: black;
}

/* line 296, ../scss/main.scss */
ul {
  list-style-type: none;
}

/* line 301, ../scss/main.scss */
#container {
  width: 1100px;
  margin: 20px auto;
}

/* line 306, ../scss/main.scss */
#content {
  float: left;
  width: 450px;
}

/* line 311, ../scss/main.scss */
#sidebar {
  float: left;
  width: 620px;
}

/* line 316, ../scss/main.scss */
#footer {
  clear: both;
}
